<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<h1 class="texCenter">Sport Event App</h1>
		<p class="texCenter">
			Esta aplicación te ayuda a la organización de cualquier evento deportivo.
		</p>
		<p class="texCenter">
			Desde esta pantalla podrás administrar los datos de la aplicación
		</p>
		<br/><br/>
		<ul class="nav nav-pills nav-stacked">	
			<li><a class="entryMenu" href="#/deporte/">Deportes</a></li>
			<li><a class="entryMenu" href="#/eventoDeportivo/">EventoDeportivos</a></li>
			<li><a class="entryMenu" href="#/perfiles/">Perfiles</a></li>
			<li><a class="entryMenu" href="#/usuarios/">Usuarios</a></li>
		
		</ul>
		<br/>
		<br/>
		<p class="texCenter">
			Or explore the API Documentation: <a class="" href="/api/api-docs" target="_blank" >raw</a> or <a class="" href="http://apiexplorer.radarconline.com/?uri={{serviceUriBase}}/api/api-docs&apiKey={{apikey}}"  target="_blank">API Explorer</a>.
		</p>
	</div>
	<div class="col-md-4"></div>
</div>
