<div class="row">
	<div class="col-md-12">
		<h3 class="text-center">Detalle del Evento Deportivo</h3>
	</div>
</div>

<br/>

<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<form class="form-vertical text-left" name="editForm" ngCloak>

			<label class="widthLabel">Código del Evento eportivo:</label>
			<div class="inline">{{eventoDeportivo.codigo}}</div>

			<label class="widthLabel"> </label>
			<label class="widthLabel">Estado:</label>
			<div ng-show="eventoDeportivo.fechaCierre == null" class="inline">
				Abierto el {{eventoDeportivo.fechaApertura | date:'dd MMMM yyyy'}}
			</div>
			<div ng-show="eventoDeportivo.fechaCierre" class="inline">
				<span>Cerrado el {{eventoDeportivo.fechaCierre | date:'dd MMMM yyyy'}}</span>
			</div>
			<br/>
			
			<label class="widthLabel">Fecha de apertura:</label>
			<div class="inline">{{eventoDeportivo.fechaApertura | date:'dd MMMM yyyy'}}</div><br/>

			<label class="widthLabel">Domicilio familiar:</label>
			<div class="inline" address-display ng-model="eventoDeportivo.domicilioFamiliar"></div><br/>	

			<label class="widthLabel">Identificación:</label>
			<div class="inline">{{eventoDeportivo.identificacionCiudadano}}</div><br/>

			<label class="widthLabel">Usuario:</label>
			<div class="inline">{{eventoDeportivo.nombre}} {{eventoDeportivo.apellido1}} {{eventoDeportivo.apellido2}}</div>
			<br/>

			<label class="widthLabel">Familia:</label>
			<div class="inline widthLabel">{{familia.nombreFamilia || '(no asignado)'}}</div>
		
			<button ng-show="eventoDeportivo.fechaCierre == null"
			        class="btn btn-primary" 
			        tooltip="Selecionar familia" 
			        ng-click="seleccionarFamilia()">
				<span class="glyphicon glyphicon-search"/>
			</button>

			<br/>
			<br/>

			<label class="widthLabel">Profesional de referencia:</label>
			<div class="inline widthLabel">{{eventoDeportivo.profesionalReferencia || '(no asignado)'}}</div>
		
			<button ng-show="eventoDeportivo.fechaCierre == null"
					class="btn btn-primary" 
					tooltip="Selecionar profesional" 
					ng-click="seleccionarProfesional()">
				<span class="glyphicon glyphicon-search"/>
			</button>

			<br/>
			<br/>

			<h4>Prestaciones</h4>
			<table class="tableFont data-table table table-hover table-striped table-condensed">
				<thead>
					<th>Apertura</th>
					<th>Prestación</th>
					<th>Estado</th>
					<th></th>
				</thead>
				<tbody>
					<tr ng-repeat="prestacion in eventoDeportivo.prestaciones">
						<td class="data col-md-2">{{prestacion.fechaApertura | date:'dd MMMM yyyy'}}</td>
						<td class="data col-md-6">{{prestacion.nombre}}</td>
						<td class="data col-md-4">
							<span ng-if="!prestacion.asignacionDirecta">{{prestacion.estadoCalculado}}</span>
							
							<div ng-show="prestacion.asignacionDirecta">
								<button ng-hide="prestacion.fechaAsignacion"
								        ng-click="asignarDirectamente(prestacion)">Asignación directa</button>
								
								<span ng-show="prestacion.fechaAsignacion">
									asignado el {{prestacion.fechaAsignacion | date:'d/M/yyyy'}}
								</span>
							</div>
							
							<div ng-show="!prestacion.asignacionDirecta">
								<div ng-show="!prestacion.fechaInicioTramite">
									<button ng-click="iniciarTramite(prestacion)">Iniciar trámite</button>
								</div>
							</div>
						</td>
						<td><a ng-show="eventoDeportivo.fechaCierre == null"
						       ng-click="deletePrestacion(prestacion)"><span class="glyphicon glyphicon-remove error" tooltip="Eliminar"></span></a>
						</td>
					</tr>
				</tbody>
			</table>

			<div class="form-group">
				<button ng-show="eventoDeportivo.fechaCierre == null"
						class="btn btn-primary" 
						ng-click="addPrestacion($event)">Añadir prestación</button>
				<button class="btn" 
						ng-click="back($event)" >Volver</button>

				<button class="btn btn-primary pull-right" 
				        ng-show="eventoDeportivo.fechaCierre == null"
				        ng-click="cerrarPas(eventoDeportivo)">Cerrar PAS</button>

			</div>


			<div ng-hide="dataReceived" class="loader"><img src="images/loader.gif" alt="Loading..." /></div>
		</form>

	</div>
	<div class="col-md-2"></div>
</div>


