<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<form class="form-vertical text-left" name="editForm">
			<h3 class="text-center">EventoDeportivo</h3>
			<fieldset ng-show="dataReceived">
				<div class="form-group">
					<label for="valueIdEvDep">IdEvDep</label>
					<div id="valueIdEvDep">{{eventoDeportivo.idEvDep}}</div>
				</div>
				<div class="form-group">
					<label for="inputCdEvDep">CdEvDep</label>
					<div id="valueCdEvDep">{{eventoDeportivo.cdEvDep}}</div>
				</div>
				<div class="form-group">
					<label for="valueCdDeporte">CdDeporte</label>
					<div id="valueCdDeporte">{{eventoDeportivo.cdDeporte}}</div>
				</div>
				<div class="form-group">
					<label for="valueLugar">Lugar</label>
					<div id="valueLugar">{{eventoDeportivo.lugar}}</div>
				</div>
				<div class="form-group">
					<label for="inputFecha">Fecha</label>
					<div id="valueFecha">{{eventoDeportivo.fecha}}</div>
				</div>
				<div class="form-group">
					<label for="inputHora">Hora</label>
					<div id="valueHora">{{eventoDeportivo.hora}}</div>
				</div>
				<div class="form-group">
					<label for="valueUsuarios">Usuarios</label>
					<div id="valueUsuarios">{{eventoDeportivo.usuarios}}</div>
				</div>
				<div class="form-group">
					<button class="btn btn-primary" ng-click="gotoList($event)" >Back</button>
					<button class="btn btn-primary" ng-click="edit($event)" >Edit</button>
				</div>
			</fieldset>
			<div ng-hide="dataReceived" class="loader"><img src="images/loader.gif" alt="Loading..." /></div>
		</form>

	</div>
	<div class="col-md-4"></div>
</div>
