<div class="row">
	<div class="col-md-12">
	
		<table id="caption" class="table">
			<tr>
				<td class="text-left">
					<a class="iconBig" href ng-click="add()" ><span class="glyphicon glyphicon-plus"></span></a>
				</td>
				<td class="text-center">
					<h3><span>Perfiles</span></h3>
				</td>
				<td class="text-right">
				  <a class="iconBig" href ng-click="refresh()"><span class="glyphicon glyphicon-refresh"></span></a>
				</td>
			</tr>
		</table>

		<div class="upperTableZone">
			<div class="btn-group cursor-pointer" dropdown is-open="status.isopen">
				<button type="button" class="btn btn-primary dropdown-toggle btn-sm">
				Bulk actions <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li><a data-ng-click="importData()"><span class="glyphicon glyphicon-import"></span> Import data from CSV or XLSX</a></li>
					<li class="divider"></li>
					<li><a data-ng-click="exportAsXlsx()"><span class="glyphicon glyphicon-export"></span> Export as XLSX</a></li>
					<li><a data-ng-click="exportAsCsv()"><span class="glyphicon glyphicon-export"></span> Export as CSV</a></li>
					<li><a data-ng-click="exportAsXml()"><span class="glyphicon glyphicon-export"></span> Export as XML</a></li>
					
					<li ng-hide="noneSelected" class="divider"></li>
					<li ng-hide="noneSelected"><a class="error" data-ng-click="deleteSelected()"><span class="glyphicon glyphicon-remove error"></span> Delete selection: {{getSelectedItems().length}} items</a></li>
					<li class="divider"></li>
					<li><a class="error" data-ng-click="deleteAll()"><span class="glyphicon glyphicon-remove error"></span> Delete all filtered: {{totalItems}} items</a></li>
				</ul>
			</div>
			<div class="searchZone">
				<input id="searchTextbox" type="string" data-ng-model="searchText" data-ng-change="refresh()" placeholder="search criteria">
				<button class="btn btn-sm" data-ng-click="clearSearch()" data-ng-hide="searchText=='' || searchText==null">Clear</button>
			</div>
			<div class="foundZone">
				<span data-ng-show="totalItems>0">{{totalItems}} found.</span>
				<span data-ng-show="totalItems==1">One found.</span>
				<span data-ng-show="totalItems==0">No items found.</span>
			</div>
		</div>

		<table id="itemList" class="data-tabe table table-hover table-striped table-condensed" ng-show="dataReceived">
			<thead>
				<th>
					<input type="checkbox" data-ng-model="allSelected" data-ng-click="selectAll($event)" tooltip="Select/Unselect all">
				</th>				
				<th>IdPerfil</th>
				<th>CdPerfil</th>
				<th>DsPerfil</th>
				
				<th></th>
				<th></th>
				<th></th>
			</thead>
			<tbody>
				<tr ng-repeat="perfiles in dataList">
					<td>
						<input type="checkbox" data-ng-model="perfiles._isSelected" data-ng-click="selectItem(perfiles, $event)">
					</td>			
					<td class="data"><a ng-click="view(perfiles)">{{perfiles.idPerfil}}</a></td>
					<td class="data">{{perfiles.cdPerfil | number:0}}</td>
					<td class="data">{{perfiles.dsPerfil}}</td>
					
					<td><a href ng-click="view(perfiles)"><span class="glyphicon glyphicon-th-list" tooltip="Detail"></span></a></td>
					<td><a href ng-click="edit(perfiles)"><span class="glyphicon glyphicon-edit" tooltip="Edit"></span></a></td>
					<td><a href ng-click="delete(perfiles)"><span class="glyphicon glyphicon-remove error" tooltip="Delete"></span></a></td>
				</tr>
			</tbody>
		</table>			
		
		<div ng-show="dataReceived" class="text-center">
			<!--<div style="display: inline; vertical-align: middle;">
				<label for="pageSize">Page Size: </label>
				<select id="pageSize" data-ng-model="pageSize">
					<option>10</option>
					<option>20</option>
					<option>50</option>
					<option>100</option>
				</select>
			</div> -->
			<div>
				<pagination max-size="10" boundary-links="true" 
				            total-items="totalItems" items-per-page="pageSize" data-ng-model="currentPage" 
							data-ng-change="loadCurrentPage()"
							previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
				</pagination>
			</div>
		</div>			
		<div ng-show="!dataReceived" class="loader">
			<img src="images/loader.gif" alt="Loading..." />
		</div>

	</div>
</div>
